---
layout: default
title: Home
pagination:
    enabled: true
    sort_reverse: true
    per_page: 21
uid: cba
lang: fr
---
<!-- Posts Index
================================================== -->
<div class="blog-grid-container" data-page="{{ paginator.page }}" data-totalPages="{{paginator.total_pages}}" data-postsPerPage="{{paginator.per_page}}">
    {% assign filtered_language_posts = site.posts | where:"lang", page.lang %}
    <div class="blog-grid-container-section-1">
        {% include trending-posts.html %}
        {% for post in filtered_language_posts limit: 4 %}
            {% include postbox.html %}
        {% endfor %}
    </div>
    <div class="blog-grid-container-section-2">
        {% for post in filtered_language_posts limit: 5 offset: 4 %}
            {% include postbox.html %}
        {% endfor %}
    </div>
    <div class="blog-grid-container-section-3">
        {% for post in filtered_language_posts limit: 6 offset: 9 %}
            {% include postbox.html %}
        {% endfor %}
    </div>
    <div class="blog-grid-container-section-4">
        {% for post in filtered_language_posts limit: 5 offset: 15 %}
            {% include postbox.html %}
        {% endfor %}
    </div>
    <div class="blog-grid-container-section-5">
        {% for post in filtered_language_posts limit: 1 offset: 20 %}
            {% include postbox.html %}
        {% endfor %}
    </div>
    <div id="blog-grid-container-section-6" class="blog-grid-container-section-6-hidden">
        {% for post in filtered_language_posts offset: 21 %}
            {% include postbox.html %}
        {% endfor %}
    </div>
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

