<!-- begin trending -->
{% for trend in site.trending %}
    {% if page.lang == "en" %}
        {% assign trending = trend.trending%}
    {% elsif page.lang == "fr"%}
        {% assign trending = trend.trending-fr%}
    {% endif %}
    <div class="blog-grid-trending">
        <div class="blog-grid-trending-heading">
            <div class="blog-grid-trending-icon">
            </div>
            <div class="blog-grid-trending-posts-title">
                <h4 class="blog-grid-trending-posts-title-text">
                    {% assign trendSize = trending | size %}
                    {% if trendSize == 1 and page.lang == "en"%}
                        {{ trendSize }} Trending post this week
                    {% elsif trendSize == 1 and page.lang == "fr"%}
                        {{ trendSize }} Poste tendance cette semaine
                    {% elsif trendSize > 1 and page.lang == "en"%}
                        {{ trendSize }} Trending posts this week
                    {% else %}
                        {{ trendSize }} Postes tendances cette semaine
                    {% endif%}
                </h4>
            </div>
        </div>


        <div class="blog-grid-trending-post-list">
            {% for trendTitle in trending %}
            <div class="blog-grid-trending-post-list-item">
                {% assign posts = {{site.posts | where: "title", trendTitle | group_by: "title" }}%}
                    {% for post in posts %}
                        {% assign post_path = post.items[0].id %}
                        <a class="blog-grid-trending-post-link" href="{{site.baseurl}}/{{ post_path }}">
                            {{ trendTitle }}
                        </a>
                    {% endfor %}
            </div>
            {% endfor %}
        </div>

    </div>
{% endfor %}
<!-- end trending -->