<!-- begin trending -->
{% for trend in site.trending %}
    <div class="blog-grid-trending">
        <div class="blog-grid-trending-heading">
            <div class="blog-grid-trending-icon">
            </div>
            <div class="blog-grid-trending-posts-title">
                <h4 class="blog-grid-trending-posts-title-text">
                    {% assign trendSize = trend.trending-fr | size %}
                    {% if trendSize == 1 %}
                        {{ trendSize }} poste tendance
                    {% else %}
                        {{ trendSize }} postes tendances
                    {% endif%}
                </h4>
            </div>
        </div>


        <div class="blog-grid-trending-post-list">
            {% for trendTitle in trend.trending-fr %}
            <div class="blog-grid-trending-post-list-item">
                <a class="blog-grid-trending-post-link" href="{{site.baseurl}}/{{ trendTitle | replace: ' ', '-'}}/">
                    {{ trendTitle }}
                </a>
            </div>
            {% endfor %}
        </div>

    </div>
{% endfor %}
<!-- end trending -->