<!-- begin trending -->

<div class="blog-grid-trending">
    <div class="blog-grid-trending-heading">
        <div class="blog-grid-trending-icon">
        </div>

        <div class="blog-grid-trending-posts-title">
            <h4 class="blog-grid-trending-posts-title-text">
                Trending posts this week
            </h4>
        </div>
    </div>


    <div class="blog-grid-trending-post-list">
        <div class="blog-grid-trending-post-list-item">
            <a class="blog-grid-trending-post-link" href="https://www.blogto.com/city/2020/09/police-tickets-house-party-scarborough/">
                Toronto police hand out $880 tickets at huge house party in Scarborough
            </a>
        </div>
        <div class="blog-grid-trending-post-list-item">
            <a class="blog-grid-trending-post-link" href="https://www.blogto.com/city/2020/09/police-tickets-house-party-scarborough/">
                Toronto police hand out $880 tickets at huge house party in Scarborough
            </a>
        </div>
        <div class="blog-grid-trending-post-list-item">
            <a class="blog-grid-trending-post-link" href="https://www.blogto.com/city/2020/09/police-tickets-house-party-scarborough/">
                Toronto police hand out $880 tickets at huge house party in Scarborough
            </a>
        </div>
        <div class="blog-grid-trending-post-list-item">
            <a class="blog-grid-trending-post-link" href="https://www.blogto.com/city/2020/09/police-tickets-house-party-scarborough/">
                Toronto police hand out $880 tickets at huge house party in Scarborough
            </a>
        </div>
        <div class="blog-grid-trending-post-list-item">
            <a class="blog-grid-trending-post-link" href="https://www.blogto.com/city/2020/09/police-tickets-house-party-scarborough/">
                Toronto police hand out $880 tickets at huge house party in Scarborough
            </a>
        </div>
    </div>

</div>
<!-- end trending -->