---
title: "Tags"
layout: default
permalink: "/tags.html"
pagination:
    enabled:true
---
{% capture tags %}
  {% for tag in site.tags %}
    {{ tag[0] }}
  {% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:' ' | sort %}
<h1> Soretd {{sortedtags}} </h1>

{% for tag in sortedtags %}
  <h4>#{{ tag }}</h4>
  <ul>
    {% for post in site.tags[tag] %}
        <li>
        <span>{{ post.date | date_to_string }}</span>
        <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
    {% endfor %}
  </ul>
{% endfor %}


{% for tag in site.tags %}

    {% assign tag_title = tag[0] %}
    {% assign tag_posts = tag[1] %}
    {% assign tag_posts_size = tag_posts | size %}
    <h1> tags {{tag_title}} index {{ forloop.index }} </h1>
    <h4 class="mt-5 mb-neg-30" id="{{ tag[0] | replace: " ","-" }}"><span class="text-capitalize text-small badge badge-primary">{{ tag[0] }}</span></h4>
    <div class="blog-grid-container" data-tagTitle="{{tag_title}}" data-tag="{{ forloop.index }}" data-totalTagPostsCount="{{tag_posts_size}}">

        {% if tag_posts_size > 2%}
            {% for post in tag_posts offset: 6 %}
                <div class="blog-grid-container-tags" id="blog-grid-container-tags-hidden">
                    {% if post.title != null %}
                        {% if group == null or group == post.group %}
                            {% include postbox.html %}
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        {% endif%}


        {% if tag_posts_size == 1 %}
            <div class="blog-grid-container-tags" id="blog-grid-container-tags-1-col">
            {% for post in tag_posts %}
                {% if post.title != null %}
                    {% if group == null or group == post.group %}
                        {% include postbox.html %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            </div>

        {% elsif tag_posts_size == 2 %}
            <div class="blog-grid-container-tags" id="blog-grid-container-tags-2-col">
            {% for post in tag_posts %}
                {% if post.title != null %}
                    {% if group == null or group == post.group %}
                        {% include postbox.html %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            </div>
        {% else %}
            <div class="blog-grid-container-tags" id="blog-grid-container-tags-full">
            {% for post in tag_posts limit: 6 %}
                {% if post.title != null %}
                    {% if group == null or group == post.group %}
                        {% include postbox.html %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}

        {% assign tag_posts = nil %}
        {% assign group = nil %}
    </div>
    <!-- START of Pagination
    ================================================== -->
    <div class="bottompagination">
        <span class="navigation" role="navigation">
            {% if tag_posts_size > 6 %}
                <button class="loadMore">Load more posts</button>
            {% endif %}
        </span>
    </div>
    <!-- END of Pagination
    ================================================== -->
{% endfor %}

<script src="{{site.baseurl}}/assets/js/pagination.js"></script>
